In [1]:
#과제 11

a = list(map(int, input("숫자 5개 입력: ").split()))
b = (input("문자를 하나 입력: "))
a.append(b)
print(a)

숫자 5개 입력: 1 2 3 4 5
문자를 하나 입력: a
[1, 2, 3, 4, 5, 'a']

In [4]:
#과제 12

a = list(map(int, input("숫자 5개 입력: ").split()))
del a[-2:]
print(a)

숫자 5개 입력: 1 2 3 4 5
[1, 2, 3]

In [6]:
#과제13

a = list(map(int, input("숫자 5개 입력: ").split()))

for index, value in enumerate(a):
    print(index + 101, value)

숫자 5개 입력: 1 2 3 4 5
101 1
102 2
103 3
104 4
105 5

In [15]:
#과제14

a = [10, 20, 30, 40, 30, 20, 10]
result=a.count(20)

print(result)

2

In [9]:
#과제15

a = list(map(int, input("숫자 10개 입력: ").split()))
a.sort()

print("최저값:", a[0], "최고값:", a[-1])

숫자 10개 입력: 1 2 3 4 5 6 7 8 9 10
최저값: 1 최고값: 10

In [10]:
#과제16

a = list(map(int, input("숫자 10개 입력: ").split()))

min_value = min(a)
max_value = max(a)

del a[a.index(min(a))]
del a[a.index(max(a))]

result = sum(a)
print(result)

숫자 10개 입력: 1 2 3 4 5 6 7 8 9 10
44

In [18]:
#과제17

a = [10, 20, 30, 40, 30, 20, 10]

while 20 in a:
  a.remove(20)
print(a)

[10, 30, 40, 30, 10]

In [21]:
#과제18
a = [i for i in range(1, 6)]
print(a)

[1, 2, 3, 4, 5]

In [22]:
#과제19
a = [i for i in range(20) if i % 2 == 1]
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [27]:
#과제20

a = int(input("1~20 사이의 정수를 입력하세요: "))
b = int(input("10~30 사이의 정수를 입력하세요: "))

c = [2 ** i for i in range(a, b + 1)]

del c[1]
del c[-2]

print(c)

1~20 사이의 정수를 입력하세요: 1
10~30 사이의 정수를 입력하세요: 10
[2, 8, 16, 32, 64, 128, 256, 1024]

In [29]:
#과제 21

sting_var ='Hello, world!'
print(sting_var.replace('Hello', 'Hi'))

Hi, world!

In [31]:
#과제 22

a = input("문자 4개: ")
a = "/".join(a)
print(a)

문자 4개: abcd
a/b/c/d

In [33]:
#과제 23

name = input("성을 영어로 입력: ")
new_name = name.lower()
right_name = new_name.rjust(10)
print(right_name)

성을 영어로 입력: Lee
       lee

In [44]:
#과제 24

a = input("물품 가격 입력: ").split(';')

a = list(map(int, a))
a.sort(reverse=True)

for b in a:
    print(str(b).rjust(9))

물품 가격 입력: 5000;300;92100
    92100
     5000
      300